In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

# 加载数据
df = pd.read_csv('tweets_with_topics.csv')

# 使用 TfidfVectorizer 将文本转换为TF-IDF矩阵
vectorizer = TfidfVectorizer(max_features=1000, stop_words='english')
tfidf_matrix = vectorizer.fit_transform(df['cleaned_text'])

# 训练 NMF 模型
num_topics = 10
nmf_model = NMF(n_components=num_topics, random_state=1)
W = nmf_model.fit_transform(tfidf_matrix)
H = nmf_model.components_

# 将每个推文的主题分布添加到数据框中
for i in range(num_topics):
    df[f'topic_{i}'] = W[:, i]

# 显示数据框的前几行
df.head()

# 保存结果
df.to_csv('tweets_with_nmf_topics.csv', index=False)

,_id,author,parent,quoted,mentions,hashtags,depth,node_type,quote_ancestors,tweet_ancestors,...,deidentname,timebucket,horiz_offset,influence_tweet_factor,left,vert_offset,location,vert_correct,cleaned_text,dominant_topic
0,1115392002538004481,38344185,NaN,NaN,['38344185'],[],0,Root,[],[],...,Michael Matthew Lee,2019-04-08 23:00,0.5,1.866287,False,0.834444,Unknown,True,rock roll dream angelina jolie bad rock roll d...,9
1,1116083380783857664,1062205038393724929,NaN,NaN,['1062205038393724929'],[],0,Root,[],[],...,Ann Smith,2019-04-10 20:45,0.5,2.819544,True,0.986667,Unknown,True,screaming need see,3
2,1118173762615218176,524438893,NaN,NaN,['524438893'],[],0,Root,[],[],...,Jente Guthrie,2019-04-16 15:15,0.5,2.363612,True,0.748889,United States,True,seriously never easy create great marketing video,6
3,1120493234801840129,525812268,NaN,NaN,"['799911790398373888', '525812268', '63942152']",[],0,Root,[],[],...,Patricia Alves,2019-04-23 01:00,0.5,1.931966,True,0.198889,Unknown,True,morning viktoriarusso patriciaalves amp announ...,1
4,1120940885733101570,93766096,NaN,NaN,"['525812268', '93766096']",[],0,Root,[],[],...,Ann George,2019-04-24 06:30,0.5,2.532117,True,0.785556,Unknown,True,wonderful welcome katyrobertson mosman rowing ...,9

AttributeError: 'float' object has no attribute 'lower'